-- MySQL dump 10.13  Distrib 8.4.4, for Win64 (x86_64)
--
-- Host: localhost    Database: hgg
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `daily_rank_summary`
--

DROP TABLE IF EXISTS `daily_rank_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_rank_summary` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `biz` varchar(50) NOT NULL,
  `rank_date` date NOT NULL,
  `biz_id` bigint NOT NULL,
  `total_score` bigint NOT NULL,
  `daily_rank` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_biz_date` (`biz`,`rank_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_rank_summary`
--

LOCK TABLES `daily_rank_summary` WRITE;
/*!40000 ALTER TABLE `daily_rank_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_rank_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_rank_summarys`
--

DROP TABLE IF EXISTS `daily_rank_summarys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_rank_summarys` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `biz` varchar(50) NOT NULL,
  `rank_date` date NOT NULL,
  `biz_id` bigint NOT NULL,
  `total_score` bigint NOT NULL,
  `daily_rank` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_biz_date` (`biz`,`rank_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_rank_summarys`
--

LOCK TABLES `daily_rank_summarys` WRITE;
/*!40000 ALTER TABLE `daily_rank_summarys` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_rank_summarys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ten_minute_rank`
--

DROP TABLE IF EXISTS `ten_minute_rank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ten_minute_rank` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `biz` varchar(50) NOT NULL,
  `time_slot` datetime NOT NULL,
  `biz_id` bigint NOT NULL,
  `score` bigint NOT NULL,
  `rank_position` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_biz_time` (`biz`,`time_slot`),
  KEY `idx_biz_id` (`biz_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ten_minute_rank`
--

LOCK TABLES `ten_minute_rank` WRITE;
/*!40000 ALTER TABLE `ten_minute_rank` DISABLE KEYS */;
/*!40000 ALTER TABLE `ten_minute_rank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ten_minute_ranks`
--

DROP TABLE IF EXISTS `ten_minute_ranks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ten_minute_ranks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `biz` varchar(50) NOT NULL,
  `time_slot` datetime NOT NULL,
  `biz_id` bigint NOT NULL,
  `score` bigint NOT NULL,
  `rank_position` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_biz_time` (`biz`,`time_slot`),
  KEY `idx_biz_id` (`biz_id`)
) ENGINE=InnoDB AUTO_INCREMENT=171 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ten_minute_ranks`
--

LOCK TABLES `ten_minute_ranks` WRITE;
/*!40000 ALTER TABLE `ten_minute_ranks` DISABLE KEYS */;
/*!40000 ALTER TABLE `ten_minute_ranks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(191) DEFAULT NULL,
  `password` longtext,
  `ctime` bigint DEFAULT NULL,
  `utime` bigint DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uni_users_email` (`email`),
  UNIQUE KEY `uni_users_phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=2005 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'hgg6@aliyun.com','$2a$10$1C7wcwoNsCj34tc7/bvwNeECeFHhIEGDS6/lpP3UwN488a4q8C44a',1756781123792,1756781123792,NULL),(2,NULL,'',0,0,'13939936535'),(3,'hgg8@aliyun.com','$2a$10$wyRDxNUpBkMynaTPsc3FderRPF7/nWdbLV4bZ1.ouCeJCjXwUZW1W',1758631075358,1758631075358,'');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-07 14:49:17
